* {
    background-color: aquamarine;
    font-family: Arial, Helvetica, sans-serif;
}

.titre1 {
    font-size: 20px;
    color: rgb(0, 0, 192);
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.titre2 {
    font-size: 100px;
    color: rgb(0, 0, 192);
    display: flex;
    justify-content: center;
    margin-top: -25px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th {
    font-size: 20px;
    height: 60px;
    text-decoration: underline;
}

td {
    height: 30px;
    padding: 10px;
    text-align: center;
}

p {
    font-size: 25px;
}

input {
    background-color: aliceblue;
    border-radius: 25px;
    display: block;
    font-size: 20px;
    margin: 5px;
    padding: 15px;
}

label {
    font-size: 20px;
}

.details {
    display: flex;
    justify-content: center;
}